#login-buttons {
    margin-top: 10px;
}

#login-sign-in-link {
    font-size: 18px;
    color: #9d9d9d;
    text-decoration: none;
}

#login-name-link {
    color: #FFFFFF;
}

.col-md-6{
  color: black;
}
